@import './player_styledefs';

// The main carousel viewport
.carousel {
  // also solves overflow when minimized
  position: relative;
  overflow: hidden;

  > * {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &.expanded {
    // To allow the player page to fill the mini player area
    overflow: visible;
  }
}
