@import './player_styledefs';

// The main carousel viewport
.carousel {
  // also solves overflow when minimized
  position: relative;

  > * {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
