@import './player_styledefs';

// The main carousel viewport
.carousel {
  // also solves overflow when minimized
  position: relative;
  overflow: hidden;

  background-color: dodgerblue;

  > * {
    position: absolute;
    top: 0;
  }
}
