@import './player_styledefs';

.miniPlayer {
  height: $player-height-minimized;
  font: $mp-font;

  position: relative; // To allow 'absolute' in child

  //background-color: rgba(black, 0.1);

  // Child views
  > div {
    // To make them stack over each other during transitions
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.defaultView {
  display: flex;
  align-items: center;

  padding: 0 6px;

  // Button
  > :nth-child(1) {
    margin-right: 6px;
  }

  // Song title
  > :nth-child(2) {
    font: $mp-font-title;
  }

  .separator {
    margin: 0 6px;
    &:before {
      content: '•';
    }
  }
}

.altView {
  display: flex;
  align-items: center;
  justify-content: center;
}
