$player-transition-len: .3s;
$player-transition-len-slow: .6s;

// From Material Design guidelines
$text-color-dark: rgba(0, 0, 0, 0.54);
$text-color-dark-inactive: rgba(0, 0, 0, 0.26);
$text-color-light: rgba(255, 255, 255, 1);
$text-color-light-inactive: rgba(255, 255, 255, 0.3);
