@import './player_styledefs';

// Holds actual PlayerFrame wrapped inside SizeControls
.playerContainer {
  position: fixed;
  bottom: 20px;
  right: 70px;

  // Hide focus outline
  outline: none;
}

.player {
  color: black; // TODO temp

  // Minimized
  height: $player-height-minimized;
  width: 300px;

  position: relative; // To allow absolute positioning in children
  background-color: $player-default-bg;
  border-radius: $player-height-minimized / 2;
  overflow: hidden;

  user-select: none;

  display: flex;
  flex-flow: column;

  // The topmost item in flexbox fills all remaining space
  > .pageView {
    flex-grow: 1;
  }
}

.player:not(.sizing) {
  transition: width $player-transition-len-ms,
              height $player-transition-len-ms;
}

