.seekbarFrame {
  // Time labels
  > span {
    font-weight: 700;
    font-size: 60%;
    width: 12%;
    overflow: hidden;
  }

  // The seekbar itself
  > :nth-child(2) {
    flex-grow: 1;
  }
}

.seekbar {
  position: relative;
  width: 100%;
  height: 100%;

  > * {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  > input[type=range] {
    margin: 0;
    background-color: transparent;
    -webkit-appearance: none;
    outline: none;

    &::-webkit-slider-thumb, &::-webkit-slider-runnable-track,
    &::-moz-range-track, &::-moz-range-progress, &::-moz-range-thumb {
      visibility: hidden;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1px;
      height: 100%;
    }
  }
}
