@import './styledefs';

:global {
  :root {
    height: 100%;
  }

  body {
    margin: 0;
    min-height: 100%;

    font-family: $font-stack-sans;
    background-color: $application-background;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: $text-color-default;
  }

  code {
    font-family: $font-stack-mono;
  }

  a {
    color: $text-color-link;
  }
}

.content {
  padding-top: $navbar-height;
}
