@import "./styledefs";

:global {
  body {
    margin: 0;
    font-family: $font-stack-sans;
    background-color: $application-background;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: $font-stack-mono
  }
}
