@import './styledefs';
@import './assets/fonts/fonts.css';

$page-transition-len: 200;

:export {
  pageTransitionLen: $page-transition-len;
}

:global {
  :root {
    height: 100%;
  }

  body {
    margin: 0;
    min-height: 100%;

    font-family: $font-stack-sans;
    background-color: $application-background;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: $text-color-default;
  }

  input {
    font-family: $font-stack-sans;
  }

  code {
    font-family: $font-stack-mono;
  }

  a {
    color: $text-color-link;
  }
}

.content {
  padding-top: $navbar-height;

  // Transition router
  > span {
    // To allow absolute positioning of children
    position: relative;
    display: block;

    // Page leaving style
    > div.pageLeaving {
      position: absolute;
      top: 0;

      transition: opacity $page-transition-len + 0ms;
      opacity: 0;
    }
  }
}
