$application-background: #2a0c12;

$font-stack-sans: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$font-stack-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

$navbar-height: 30px;

$text-color-default: #ddd;
$text-color-link: #00ffe0;

$transition-len: 400;
$transition-len-ms: $transition-len + 0ms;

$panel-color: rgba(#fff, .9);
$panel-color-test: rgba(27, 12, 19, 0.69);
$panel-text-color: #111;
$panel-text-color-test: #ddd;
