$application-background: #2a0c12;

$font-stack-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$font-stack-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

$navbar-height: 30px;

$text-color-default: #ddd;
$text-color-link: #00ffe0;
