@import "../../styledefs";

.libraryPage {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.libraryPageContent {
  width: 100%;
  border-radius: 16px;
  min-height: calc(100vh - 32px - #{$navbar-height});

  background-color: $panel-color-test;
  //background: radial-gradient(circle, #5B1A27 20%,#2A0C12 75%);

  color: $panel-text-color-test;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
}

.libraryCommon {
  margin: 50px auto;
  div {
    div {
      color: $panel-color-test;
      background: linear-gradient(to right,
            rgba(255,255,255, 0),
            white,
            rgba(255,255,255, 0)
          );
    }

    span {
      display: inline-block;
      margin: 20px 8%;
      text-align: left;

      img {
        width: 150px;
        height: 150px;
      }

      p {
        margin: 0;

        a {
          padding: 0;
          margin: 0;
          background: transparent;
          border: none;
          cursor: pointer;
          color: white;
        }
      }
    }
  }
}

.libraryArtists {
  margin: 50px auto;
  span {
    display: inline-block;
    margin: 20px 8%;
    text-align: center;

    img {
      width: 150px;
      height: 150px;
      border-radius: 20px 0 20px 0;
    }

    p {
      margin: 0;

      a {
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        color: white;
      }
    }
  }
}

.librarySongs table {
  margin: 50px auto;
  text-align: left;
  border-collapse: collapse;

  td, th { padding: 10px 30px }
  td:first-child { border-radius: 15px 0 0 15px }
  td:last-child { border-radius: 0 15px 15px 0 }
  tr:not(:first-child):hover td { background: black }

  th {
    text-align: center;
    padding-bottom: 30px;

    button {
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      cursor: pointer;
      color: white;
      text-decoration: underline;
    }
  }
}


.inputs {
  width: 90%;
  margin-left: 5%;
  button{
    width: 200px;
  }
}
