@import "../../styledefs";

.libraryPage {
  width: 100%;
  border-radius: 16px;
  min-height: calc(100vh - 32px - #{$navbar-height});

  background-color: $panel-color-test;
  //background: radial-gradient(circle, #5B1A27 20%,#2A0C12 75%);

  color: $panel-text-color-test;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
}

.libraryCommon {
  margin: 50px auto;
  >div {
    > hr {
      width: 95%;
      height: 1px;
      border-color: transparent;
      background: linear-gradient(to right,
        rgba(255,255,255, 0),
        white,
        rgba(255,255,255, 0)
      );
    }
    p {
      font-size: large;
    }
  }
  span {
    display: inline-block;
    margin: 20px 8%;
    text-align: left;

    img {
      width: 150px;
      height: 150px;
    }

    p {
      margin: 0;

      a {
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        color: white;
      }
    }
  }
}

.libraryArtists {
  margin: 50px auto;
  span {
    display: inline-block;
    margin: 20px 8%;
    text-align: center;

    img {
      width: 150px;
      height: 150px;
      border-radius: 20px 0 20px 0;
    }

    p {
      margin: 0;

      a {
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        color: white;
      }
    }
  }
}

.libraryMenues {
  height: 18px;
  margin: 1px auto;
  width: 30%;
  min-width: 300px;
    cursor: pointer;
    font-size: medium;
    color: $panel-color-test;
    background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0)
    );
  > span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    fill: $panel-color-test;
    &:nth-of-type(2) {
      bottom: 4px;
      width: 60%;
    }
  }
}
