.loginDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 350px;
}

.loginForm {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  > div:first-of-type {
    padding: 30px 20px 0;
  }

  > div:last-of-type {
    width: 100%;
    overflow: hidden; /* clear fix */

    padding: 10px 16px 16px;
    box-sizing: border-box;
  }

  input[type="text"], input[type="password"] {
    display: block;
    width: 100%;

    margin-bottom: 20px;
    box-sizing: border-box;

    font-size: 16px;
    text-align: center;
    padding: 10px;
    border: none;

    background-color: rgba(0, 0, 0, .1);
    color: #ddd;

    &::placeholder {
      color: #bbb;
      font-style: italic;
    }

    transition: background-color .25s;
    &:focus {
      background-color: rgba(255, 255, 255, .05);
    }
  }

  input[type=checkbox], label {
    float: left;
    font-size: 13px;
  }

  input[type=submit] {
    float: right;

    padding: 5px 30px;
    margin-top: -6px;

    border: none;
    background-color: rgba(92, 92, 92, 0.7);
    color: white;
    cursor: pointer;

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      opacity: 0.8;
    }
  }
}

.regLink {
  margin: 10px 0 0 0;
  font-size: 14px;
  background-color: #2a0c12;
}


