@import '../../styledefs';

@keyframes :global(login-fade-in) {
  from {
    transform: translate(-50%, calc(-50% - 10px));
    opacity: 0
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1
  }
}

.loginPage {
  text-align: center;

  // Login form
  > :nth-child(2):global {
    animation: 0.6s 1.2s both login-fade-in;
  }
  > :nth-child(3):global {
    animation: 0.6s 1.4s both login-fade-in;
  }
}

.logoDiv {
  max-width: 400px;

  width: 90%;
  min-width: 250px;

  text-align: center;
  margin-top: 10vh;
  float: bottom;

  transition: opacity $transition-len-ms, margin-top $transition-len-ms;

  @media (max-height: 430px) {
    opacity: 1%;
    margin-top: 2vh;
  }
  @media (min-height: 430px) and (max-height: 470px) {
    opacity: 30%;
    margin-top: 4vh;
  }
  @media (min-height: 470px) and (max-height: 500px) {
    margin-top: 6vh;
  }
}
