.loginFooter {
  position: fixed;
  bottom: 2%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;

  p {
    margin: 3px;
  }

  em {
    font-style: normal;

    &:before, &:after {
      content: '"';
    }
  }

  transition: opacity .5s;

  @media (max-height: 470px) {
    opacity: 0;
  }
}
