.loginForm {
  > div:first-of-type {
    padding: 15px 20px 0;
  }

  > div:last-of-type {
    padding: 25px 16px 16px;
  }

  input[type="text"], input[type="password"] {
    margin: 15px 0 5px;
  }

  input[type="checkbox"], label {
    float: left;
    font-size: 13px;
  }

  input[type="submit"] {
    padding: 5px 30px;
    float: right;
  }
}
