.loginFooter {
  position: fixed;
  bottom: 2%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;

  letter-spacing: .6px;
  user-select: none;

  p {
    margin: 6px;
    &:nth-of-type(1) {
      font-size: 80%;
      opacity: .8;
    }
  }

  .error {
    color: #d32f2f;
    cursor: pointer;
    font-weight: bold;
  }

  em {
    display: inline-block;
    margin: 4px;

    font-style: italic;
    font-size: 90%;
    opacity: .6;
    cursor: pointer;

    &:before, &:after {
      content: '"';
    }
  }

  transition: opacity .5s;

  @media (max-height: 470px) {
    opacity: 0;
  }
}
