.loginPage {
  text-align: center;
}

.logoDiv {
  max-width: 400px;

  width: 90%;
  min-width: 250px;

  text-align: center;
  margin-top: 20vh;
  float: bottom;
  color: white;

  transition: opacity .5s;

  @media (max-height: 350px) {
    opacity: 3%;
  }
  @media (min-height: 350px) and (max-height: 450px) {
    opacity: 10%;
  }
  @media (min-height: 450px) and (max-height: 500px) {
    opacity: 50%;
  }
}
