.regisForm {
  > div:first-of-type {
    padding: 30px 20px 0;
  }

  > div:last-of-type {
    padding: 10px 16px 16px;
  }

  input[type="text"], input[type="password"] {
    margin: 0 0 5px;
  }

  input[type="submit"] {
    padding: 5px 50px;
  }
}
