root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{py,ts}]
indent_style = space
indent_size = 4

[*.{html,json,js,css,scss,tf}]
indent_style = space
indent_size = 2

[*.js]
ij_javascript_use_double_quotes = false

[*.ts]
ij_typescript_use_double_quotes = false
