.loginForm {
  padding-top: 20px;
  position: fixed;
  width: 30%;
  min-width: 280px;
  min-height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: white;

  input[type="text"], input[type="password"]{
    width: 60%;
    padding: 3px 20px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: 1px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .3);
    color: #ddd;
  }

  hr {
    width: 75%;
    border: solid 2px #bbbbbb;
  }

  button {
    padding: 5px 30px;
    margin: 10px 25px 10px 0;
    float: right;
    border: none;
    background-color: rgba(92, 92, 92, 0.7);
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
  opacity: 0.8;
}

}

.rememberMe {
  float: left;
  font-size: 13px;
  margin: 15px 0 10px 25px;

  input {
    margin-right: 6px;
  }
}

.regisLink {
  padding-top: 10px;
  margin: 60px 0 0 0;
  font-size: 14px;
  background-color: #2a0c12;

  a {
    color: #00ffe0;
  }
}


