.loginDiv {
  position: fixed;
  width: 30%;
  min-width: 280px;
  min-height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.loginForm {
  padding: 1vh 5vh;
  margin: 2vh auto 0 auto; /* 5% from the top, 15% from the bottom and centered */
  width: 70%; /* Could be more or less, depending on screen size */
  height: 100%;
}

.loginFooter {
  position: fixed;
  width: 200px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
  font-family: Baumans;
  color: white;
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 85%;
  padding: 3px 20px;
  margin-bottom: 6px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

hr {
  border: solid 2px #bbbbbb;
}

input[type=checkbox] {
}

.rememberMe {
  margin-top: 2vh;
  margin-left: -23vh;
  font-size: 15px;
  height: 15px;
}

/* Set a style for all buttons */
button {
  padding: 5px 30px;
  margin: 1vh -6vh 3vh 0;
  float: right;
  border: none;
  background-color: rgba(92, 92, 92, 0.7);
  color: white;
  font-size: calc(10px + 1vmin);
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

@media (max-height: 350px) {
  .loginFooter {
    opacity: 0;
  }
}

