@import '../../styledefs';
@import './SearchPage';

.releaseResultWrap {
  @extend %resultElementBase;

  min-width: 180px;
  max-width: 18vw;
  margin: 16px;
}

.releaseResult {
  @extend %resultImageBg;
  margin: 0;

  height: 0;
  padding-top: 100%;  // 1:1 aspect ratio

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(black, .5);

  transition: box-shadow $transition-len-ms;

  &::before {
    background-image: var(--release-img);
    background-position: 50% 50%;
  }

  > div {
    background-color: rgba(10, 10, 10, .7);
    padding: 10px;
    transition: background-color $transition-len-ms;

    a {
      @extend %resultInnerLink;
    }

    > * {
      display: block;
    }

    // Name
    > :nth-child(1) {
      letter-spacing: .6px;
      line-height: 140%;
      font-size: 90%;

      margin-bottom: 4px;
    }

    // Artist
    > :nth-child(2) {
      font-size: 75%;
      opacity: .8;
    }

    // Controls
    > :nth-child(3) {
      @extend %appearingControls;
    }
  }

  &:hover, &:focus {
    box-shadow: 0 0 20px rgba(black, .8);
    &::before {
      transform: scale(1.15);
      opacity: 1;
    }
    > div {
      background-color: rgba(10, 10, 10, .8);
      > :nth-child(3) {
        height: 26px;
      }
    }
  }
}
