@import "../../styledefs";

.search {
  background-color: white;
  border-radius: 40px;
  height: 30px;
  width: 300px;
  margin-bottom: 0.2em;
  position: relative;
  padding: 2px;
}

.searchSelect {
  border: none;
  margin-top: 5px;
  margin-left: 2px;
  background: transparent;
  color: $application-background;
}

.searchLine {
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  width: 60%;
  color: $application-background;
  border: none;
}

.searchButton {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: transparent;
  background-color: $application-background;
  display: flex;
  justify-content: center;
  align-items: center;
}
