@import '../../styledefs';
@import '../IconButton';

.searchPage {
  margin: 0 5vw 20vh;

  transition: opacity $transition-len-ms;

  &.updating {
    opacity: .5;
  }
}

.resultGroup {
  // Group name
  > h3 {
    text-align: center;
    margin: 40px 0 20px;

    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 2px;
    font-weight: 600;
    opacity: 50%;
  }

  // Results
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    > * {
      flex-basis: 0;  // To make them have the same weight
      flex-grow: 1;
    }
  }
}

%resultElementBase {
  color: #eee;
  text-decoration: none;
}

// Result elements with an image background
%resultImageBg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &::before {
    content: "";
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;

    transition: transform $transition-len-ms, opacity $transition-len-ms;
    opacity: .8;
  }
}

// Result elements with a fade-in color background on hover
%resultColorBg {
  transition: background-color $transition-len-short-ms;
  border-radius: 4px;

  &:hover, &:focus {
    background-color: rgba(#eee, .1);
  }
}

// Inner links to related entities, inherit color and show underline only on mouse over
%resultInnerLink {
  color: inherit;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

// Artist and release controls with height transition
%appearingControls {
  height: 0;
  overflow: hidden;
  transition: height $transition-len-ms;

  > span {
    @include button-color(#eee);
    margin: 2px 6px;
    transition: background-color $transition-len-short-ms, opacity $transition-len-short-ms;
    background-color: transparent;
    &:hover {
      background-color: rgba(255, 255, 255, .2);
    }
  }
}
