@import "../styledefs";

.modalBox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;

  > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $panel-text-color-test;
    padding: 2px;
    border: 1px solid #888;
    color: $application-background;
    text-align: center;

    > button:first-of-type {
      background-color: $application-background;
      border: none;
      color: $panel-text-color-test;
      float: right;
      font-size: 16px;
      font-weight: bold;
      padding: 0 5px;
      cursor: pointer;
    }

    > div {
      > button {
        margin: 5px;
      }

      > button:first-of-type {
        border-radius: 0;
        color: $application-background;
      }

      > button:nth-of-type(2) {
        background-color: $application-background;
        color: $panel-text-color-test;

        &:hover {
          background-color: #4a0c12;
        }
      }

      > input {
        margin-bottom: 10px;

        &:first-of-type {
          width: 80%;
          text-align: center;
        }

        &:last-of-type {
          border-radius: 0;
          padding: 3px 10px;
          background-color: $application-background;
          color: $panel-text-color-test;
          cursor: pointer;
        }
      }
    }
  }

  .modalSuccess, .modalError {
    white-space: nowrap;
    border-radius: 3px 35px;
    padding: 5px 35px;
  }
  .modalSuccess {
    border: 3px solid green;
    border-bottom: 4px solid #005500;
  }

  .modalError {
    border: 3px solid red;
    border-bottom: 4px solid #bb0000;
  }
}
