@import '../styledefs';

.settingsModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.download {
  border-color: $application-background;
  border-radius: 16px;
  background-color: $panel-color;
  padding: 0 10px 10px 10px;
  width: 30vw;

  label, select, button, h4 {
    color: #444;
  }

  h4 {
    text-align: center;
  }

  select {
    padding: 3px;
    cursor: pointer;
  }

  button {
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
    width: 50%;
  }
}

.select {
  text-align: center;

  form{
    position: relative;
    width: 100%;
  }

  select {
    width: 8vw;
    text-align: right;
    margin: 0 0 1vh 11vw;
  }

  label{
    width: 30%;
    position: absolute;
    left: 10%;
    text-align: right;
    margin-left: 9vw;
  }
}

.settingsButton {
  border-color: $application-background;
  border-radius: 16px;
  text-align: center;
  background-color: $panel-color;


  >div {
    cursor: pointer;
    display: flex;
    button, label {
      font-size: 15px;
      color: #444;
      padding: 10px;
      background: transparent;
      border: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    &:first-of-type {
      border-radius: 16px 16px 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 16px 16px;
    }

    &:hover {
      background-color: rgba(#ccc, .7);
      cursor: pointer;
    }
  }

  label {
    display: block;
    padding-top: 5px;
  }
}
