@import "../../styledefs";

.artistPage {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.artistPageContent {
  width: 100%;
  border-radius: 16px;
  min-height: calc(100vh - 32px - #{$navbar-height});
  color: $panel-text-color-test;
  background-color: $panel-color-test;

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    mask: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
    mask-composite: intersect;
    z-index: -1;
  }
}

.artistInfo {
  position: relative;
  padding: 1.5em 1.5em 0.5em 1.5em;
  border-radius: 16px 16px 0 0;
  background-color: rgba(256, 256, 256, 0.7);
  color: $application-background;

  .name {
    h2 {
      display: inline-block;
      margin: 5px 20px 5px 0;
    }
    span {
      margin: 0 5px;
      color: $application-background;
      fill: $application-background;
    }
  }

  > div:first-of-type > span {
    top: 6px;
  }

  .listeners {
    font-size: 0.85em;
    padding: 0.1em 0.2em;
    margin: 0.5em;
  }

  .tagsList {
    margin: 20px 0;
    text-align: left;
    .tag {
      border-radius: 5px;
      color: $text-color-default;
      background-color: $application-background;
      padding: 0.1em 0.2em;
      margin: 0 0.1em;
    }

    button {
      cursor: pointer;
      border: 0;
      background: transparent;
    }
  }

  .artistBio, .additionalInfo {
    font-size: 0.85em;
    text-align: justify;
  }

  .artistBio {
    padding: 0 20px 20px 20px;
  }

  .additionalInfo {
    >ul, >div {
      list-style-type: none;
      padding: 0;
      margin: 20px 0;
    }
    >div {
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }


  .links {
    a {
      padding: 5px;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }

  >div >span button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.artistUpdatingInfo {
  >div {
    > p {
      margin-bottom: 3px;
    }

    span {
      background: transparent;
      vertical-align: middle;
      svg {
        position: relative;
      }
    }

     >div {
      font-size: small;
    }

    >input, >div input{
      border-style: dashed;
      border-radius: 5px;
      padding-left: 10px;
      margin: 3px;
    }

    select {
      width: 115px;
    }
  }

  > button {
    margin-top: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;

  }
}

.releaseList {
  position: relative;

  > div:first-of-type {
    padding: 30px;

    .sectionTitle {
      font-size: 20px;
      display: inline-block;
    }

    .sort {
      position: relative;
      font-size: 13px;
      white-space: nowrap;
      display: inline-block;
      float: right;
      top: 2px;

      select {
        position: relative;
        appearance: none;
        background-color: transparent;
        color: $text-color-default;
        border: none;
        width: 65px;
        cursor: pointer;
      }

      > span {
        position: relative;
        display: inline;
        background-color: transparent;
        fill: $text-color-default;
        right: 10px;
      }
    }
  }

  img {
    position: relative;
    margin-top: 10px;
    border-radius: 16px;
    width: 200px;
    height: 200px;
  }

  .releasesList{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    .release {
      display: inline-block;
      margin: 10px 0.5em 0.5em;
      width: 200px;
      height: 200px;

      p {
        margin-top: 10px;
        a {
          position: relative;
          margin: 0.5em;
          color: $text-color-default;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .active {
    background-color: #2a0c12;
  }
}
