@import "../../styledefs";

.collectionPage {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;

  > div:first-of-type {
    width: 100%;
    border-radius: 16px;
    min-height: calc(100vh - 32px - #{$navbar-height});

    background-color: $panel-color-test;
    //background: radial-gradient(circle, #5B1A27 20%,#2A0C12 75%);

    color: $panel-text-color-test;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
  }
}

.collectionInfo {
  margin: 100px 0 50px;

  >div:last-of-type {
    >span {
      margin: 30px 20px 0 20px;
      padding: 3px 5px;
      cursor: pointer;
      background: transparent;
      fill: $panel-text-color-test;
      border: solid 2px;
    }
  }

  hr {
    width: 95%;
    margin-top: 70px;
    height: 1px;
    border-color: transparent;
    background: linear-gradient(to right,
      rgba(255,255,255, 0),
      white,
      rgba(255,255,255, 0)
    );
  }
}
