.pagePlaylist {
  margin: 0;
  padding: 8px 0 0;
  box-sizing: border-box;

  overflow-y: auto;
  list-style-type: none;

  li {
    padding: 0 16px;
  }

  // Title, Artist
  li > span {
    font-size: 80%;
    display: inline-block;
    width: 35%;

    // Artist
    &:nth-of-type(2) {
      font-size: 70%;
    }
  }

  // Currently playing
  li.current {
    background-color: rgba(var(--text-color), .1);
  }
}
