@import 'src/player/components/player_styledefs';

.pagePlayer {
  // Overflow inside MiniPlayer area
  height: calc(100% + #{$player-height-minimized});

  display: flex;
  align-items: center;

  padding: 4% 4% 2%;
  box-sizing: border-box;

  img {
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 100%;
    margin-right: 4%;
  }
}

// Everything that is not the cover
.songData {
  flex-grow: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  // Track title
  > :nth-child(1) {
    font: 600 140% 'Raleway', sans-serif;
  }

  // Album
  > :nth-child(2) {
    font: 700 70% 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: .8px;
  }

  // Artist
  > :nth-child(3) {
    font: 600 100% 'Raleway', sans-serif;
  }
}

// Seekbar frame
.seekbar {
  display: flex;
  align-items: center;
  width: 100%;

  // Time labels
  > span {
    font: 700 60% 'Raleway', sans-serif;
  }

  // The seekbar itself
  > :nth-child(2) {
    flex-grow: 1;
  }
}

// Here Be Buttons
.controls {
  display: flex;
  width: 100%;
  align-items: end;

  > :first-child, > :last-child {
    flex-grow: 1;
  }

  > :first-child > * {
    float: left;
  }

  > :last-child > * {
    float: right;
  }
}
