@import "../../styledefs";

.userPage {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.userPageContent {
  width: 100%;
  border-radius: 16px;
  min-height: calc(100vh - 32px - #{$navbar-height});

  background-color: $panel-color;
  color: $panel-text-color;
  overflow: hidden;
}

.userInfo {
  background-repeat: no-repeat;
  padding: 0.5em;
  .name {
    margin: 0;
    padding: 10px;
  }

  img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
  }

  input {
    border-style: dashed;
  }

  a {
    padding: 10px;
  }
}

.userBio {
  padding: 10px;
  font-size: 0.85em;
}

.userTop {
  display: flex;
  justify-content: left;
  align-items: center;
}

.userCenter {
  padding: 10px;

  p {
    font-weight: bold;
  }

  div {
    margin-top: 10px;
  }

  button {
    margin-left: 10px;
  }
}

.artists {
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
}

.artistList {

  img {
    margin-top: 10px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
  }

  .artist {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    float: left;
    margin: 0.5em;

    p a {
      margin: 0.5em;
      color: $panel-text-color;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
