@import "../../styledefs";

.userPage {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.userPageContent {
  width: 100%;
  border-radius: 16px;
  min-height: calc(100vh - 32px - #{$navbar-height});

  background-color: $panel-color;
  color: $panel-text-color;
  overflow: hidden;

  button {
    margin: 5px;
  }
}

.userInfo {
  padding: 0.5em;

  .name {
    margin: 0;
    padding: 10px;
    display: inline-block;
  }

  img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    cursor: pointer;
  }
}

.userBio {
  padding: 10px;
  font-size: 1.4em;

  input {
    border-style: dashed;
    padding: 10px;
    font-size: 0.85em;
    width: 100%;
  }
}

.userTop, .userBottom {
  text-align: center;
}

.userBottom {
  margin: 50px;
}

.image {

  button {
    border: 0;
    background: transparent;
  }
}

.top >div {
  display: inline-block;
}

.userCenter {
  padding: 10px;
  font-size: small;

  p {
    font-weight: bold;
  }

  button {
    margin-left: 10px;
  }

  .tagsList {
    margin: 10px 0;
    text-align: center;
    >span {
      display: inline-block;
      color: $text-color-default;
      background-color: $application-background;
      width: 70px;
      padding: 0.2em 0.5em;
      margin: 0 10px;
      border-radius: 10px;
    }
  }

}

.artists {
  margin-top: 40px;
  padding: 10px;
  font-weight: bold;
  >p {
    margin: 0 0 0 50px;
  }
}

.artistList {
  text-align: center;

  img {
    margin-top: 10px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
  }

  .artist {
    display: inline-block;
    margin: 15px;
    p {
      padding: 0.5em;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
       a {
         text-decoration: none;
         color: $panel-text-color;
         padding: 0;
         margin: 0;
       }
    }
  }
}
