@import '../styledefs';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  background-color: rgba($application-background, .5);

  div {
    display: inline-block;
    width: 30%;
  }

  ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    text-decoration: none;
  }

  .userDiv {
    float: right;
    margin-left: auto;
    margin-right:0;

    span {
      padding-right: 0.5em;
      float: right;
      text-align: right;
    }
    .userImage {
      float: right;
      width: 30px;
    }
  }
}
