@import '../styledefs';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  background-color: rgba($application-background, .5);

  padding: 16px 20px;
  box-sizing: border-box;

  > * {
    width: 25%;
    height: 100%;

    display: inline-block;
  }
}

.left {
  list-style-type: none;
  margin: 0;
  padding: 0 4px;
  box-sizing: border-box;

  li {
    margin: 2px 1.5em 0 0;
    float: left;
  }

  a {
    display: block;
    color: #eee;

    text-shadow: rgba(#fff, .5) 0 0 1px;
    letter-spacing: .7px;

    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    opacity: .5;
    transition: opacity $transition-len-short-ms;

    &:global(.current), &:hover, &:focus {
      opacity: 1;
    }
  }
}

.middle {
  width: 50%;
  position: relative;

  > * {
    position: absolute;
    width: 100%;
  }

  // Logo
  > object {
    height: 100%;
    pointer-events: none;

    opacity: 0;
    transform: translateY(-10px);

    transition-property: opacity, transform;
    transition-duration: $transition-len-short-ms;
  }

  // Search bar wrapper
  > div > div {
    margin: -4px auto 0;
    transition: transform $transition-len-ms;
    transition-timing-function: cubic-bezier(.65, .05, .36, 1);  // "cubic"
  }

  // On home page - move search bar and show the logo
  &:global(.on-home) {
    > object {
      opacity: 1;
      transform: translateY(5px);
      pointer-events: unset;

      // Wait for search bar to move before start fading in
      transition-duration: $transition-len-ms;
      transition-delay: $transition-len-short-ms;
    }
    > div > div {
      transform: translateY(25vh);
    }
  }
}

.right {
  > div {
    float: right;
    margin: -6px;
    padding: 4px;

    display: flex;
    align-items: center;
    cursor: pointer;

    border-radius: 16px;
    transition: background-color $transition-len-short-ms;

    &:hover {
      background-color: rgba(0, 0, 0, .5);
    }

    span {
      font-size: 75%;
      letter-spacing: .6px;
      margin: 0 8px;
    }

    img {
      height: 30px;
    }
  }
}
