@import '../styledefs';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  z-index: 9999;
  background-color: var(--th-background-header);
  backdrop-filter: blur(10px);  // Only Chrome for now :(

  padding: 16px 20px;
  box-sizing: border-box;

  > * {
    width: 25%;
    height: 100%;

    display: inline-block;
  }
}

header .left {
  list-style-type: none;
  margin: 0;
  padding: 0 4px;
  box-sizing: border-box;

  li {
    margin: 2px 1.5em 0 0;
    float: left;
  }

  a {
    display: block;
    color: var(--th-head-nav);

    text-shadow: var(--th-head-nav-shadow);
    letter-spacing: .7px;

    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    outline: none;
    user-select: none;

    opacity: .5;
    transition: opacity $transition-len-short-ms;

    &:global(.current), &:hover, &:focus {
      opacity: 1;
    }
  }
}

header .middle {
  width: 50%;
  position: relative;

  > * {
    position: absolute;
    width: 100%;
  }

  // Logo
  > object {
    height: 100%;
    pointer-events: none;

    opacity: 0;
    transform: translateY(-10px);

    transition-property: opacity, transform;
    transition-duration: $transition-len-short-ms;
  }

  // Search bar margins
  > div > div {
    margin: -4px auto 0;
  }

  // Search bar wrapper - do not animate on landing
  &:global(.from-home) > div:global {
    animation: .6s search-bar-fade;
  }

  // Moving transition between home and search pages
  &:global(.on-home), &:global(.on-search) {
    > div {
      animation: none;
      transition: transform $transition-len-ms;
      transition-timing-function: cubic-bezier(.65, .05, .36, 1);  // "cubic"
    }
  }

  // On home page - move search bar and show the logo
  &:global(.on-home) {
    > object {
      opacity: 1;
      transform: translateY(5px);
      pointer-events: unset;

      // Wait for search bar to move before start fading in
      transition-duration: $transition-len-ms;
      transition-delay: $transition-len-short-ms;
    }
    > div {
      transform: translateY(25vh);
    }
  }
}

header .right {
  > div {
    float: right;
    margin: -6px;
  }
}

header .right, header .left li {
  transition-property: opacity, transform;
  transition-duration: $transition-len-ms;
  transition-delay: 600ms;  // Appear when the main logo is shrinking
}
header .left li:nth-child(2) {
  transition-delay: 700ms;
}

header:global(.on-login) {
  .right, .left li {
    transition-delay: 0s;
    transition-duration: $transition-len-short-ms;
    opacity: 0;
  }

  .right {
    transform: translateX(16px);
  }
}

@keyframes :global(search-bar-fade) {
  0% {
    transform: translateY(25vh);
    opacity: 1;
  }
  20% {
    transform: translateY(22vh);
    opacity: 0;
  }
  80% { opacity: 0 }
  100% { opacity: 1 }
}
